[run]
branch = True
source = src
omit =
    */tests/*
    */test_*.py
    */__pycache__/*
    */site-packages/*
    cov_env/*

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = coverage_html

[xml]
output = coverage.xml
